Logement .container-logement{
    width: 1240px;
    margin: auto;
}
Logement .logement{
   width: 100%;
    object-fit: cover;
    height: 451PX;
    border-radius: 10px;
    margin: auto;
}
Logement .titre,.location{
    margin: 0;
    background-color: white;
    color: #ff6060;
}